In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
os.listdir('data/clean')

['income_clean.csv',
 'education_clean.csv',
 'commute_clean.csv',
 'vehicles_clean.csv',
 'masterdata.csv',
 'population_clean.csv',
 'housing_clean.csv',
 'masterdata_allcounties.csv']

In [4]:
def load_data(category):
    loc = 'data/clean/' + category + '_clean.csv'
    return pd.read_csv(loc)

In [5]:
incomedata = load_data('income')
incomedata['fips'] = incomedata['id'].apply(lambda s: s[-5:])
incomedata = incomedata.drop(columns=['id'])
incomedata.head()

,geographic area name,median income (family),median income (nonfamily),year,fips
0,"Jersey County, Illinois",64773,28125,2010,17083
1,"Jo Daviess County, Illinois",60381,28266,2010,17085
2,"Johnson County, Illinois",47423,21378,2010,17087
3,"Kane County, Illinois",77998,40333,2010,17089
4,"Kankakee County, Illinois",59998,28864,2010,17091

In [6]:
educationdata = load_data('education')
educationdata['fips'] = educationdata['id'].apply(lambda s: s[-5:])
educationdata = educationdata.drop(columns=['id', 'geographic area name'])
educationdata.head()

,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year,fips
0,8.4,36.7,25.1,9.3,8.9,7.2,2010,17083
1,7.1,39.3,19.6,7.2,14.5,8.5,2010,17085
2,16.1,32.3,24.6,8.3,9.4,3.4,2010,17087
3,8.2,24.7,19.6,7.0,20.9,10.9,2010,17089
4,9.2,35.0,23.9,8.9,10.8,6.6,2010,17091

In [7]:
def tofips_vehicle(s):
    fstr = str(int(s))
    if len(fstr) == 4:
        fstr = '0' + fstr
    return fstr

In [8]:
vehicledata = load_data('vehicles')
vehicledata.head()

   count           county  county geoid  registration year state
0     95   Calhoun County        1015.0             2018.0    fl
1   4584      Clay County        1027.0             2018.0    fl
2   4500  Escambia County        1053.0             2018.0    fl
3    216  Franklin County        1059.0             2018.0    fl
4    330   Jackson County        1071.0             2018.0    fl

In [9]:
vehicledata = load_data('vehicles')
vehicledata['fips'] = vehicledata['county geoid'].apply(tofips_vehicle)
vehicledata['year'] = vehicledata['registration year'].apply(lambda x: int(x))
vehicledata = vehicledata.drop(columns=['registration year', 'county geoid'])
vehicledata.head()

   count           county state   fips  year
0     95   Calhoun County    fl  01015  2018
1   4584      Clay County    fl  01027  2018
2   4500  Escambia County    fl  01053  2018
3    216  Franklin County    fl  01059  2018
4    330   Jackson County    fl  01071  2018

In [10]:
populationdata = load_data('population')
populationdata['fips'] = populationdata['id'].apply(lambda s: s[-5:])
populationdata = populationdata.drop(columns=['id', 'geographic area name'])
populationdata.head()

   total population  year   fips
0              5897  2010  08025
1             30533  2010  08029
2            578087  2010  08031
3              2027  2010  08033
4            273440  2010  08035

In [11]:
housingdata = load_data('housing')
housingdata['fips'] = housingdata['id'].apply(lambda s: s[-5:])
housingdata = housingdata.drop(columns=['id', 'geographic area name', 'boat rv van etc.', '1-unit attached'])
housingdata.head()

,occupied housing units,"1-unit, attached",2 units,3 or 4 units,5 to 9 units,10 to 19 units,20 or more units,mobile home,"boat, rv, van, etc.",year,fips
0,3339,21,57,65,0,19,0,1148,0,2010,13155
1,20917,234,639,231,215,217,55,4264,45,2010,13157
2,4998,81,68,48,26,9,28,1053,0,2010,13159
3,5567,44,152,263,99,8,0,2056,0,2010,13161
4,6281,66,323,84,293,0,72,1709,0,2010,13163

In [12]:
commutedata = load_data('commute')
commutedata['fips'] = commutedata['id'].apply(lambda s: s[-5:])
commutedata = commutedata.drop(columns=['id', 'geographic area name'])
commutedata.head()

   commute time  year   fips
0        8685.0  2010  30019
1       96535.0  2010  72073
2      304545.0  2010  24023
3     1161730.0  2010  39173
4        4905.0  2010  30079

In [13]:
m1 = educationdata.merge(incomedata, how='inner', on=['fips', 'year'])
m1.head()

,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year,fips,geographic area name,median income (family),median income (nonfamily)
0,8.4,36.7,25.1,9.3,8.9,7.2,2010,17083,"Jersey County, Illinois",64773,28125
1,7.1,39.3,19.6,7.2,14.5,8.5,2010,17085,"Jo Daviess County, Illinois",60381,28266
2,16.1,32.3,24.6,8.3,9.4,3.4,2010,17087,"Johnson County, Illinois",47423,21378
3,8.2,24.7,19.6,7.0,20.9,10.9,2010,17089,"Kane County, Illinois",77998,40333
4,9.2,35.0,23.9,8.9,10.8,6.6,2010,17091,"Kankakee County, Illinois",59998,28864

In [14]:
m2 = m1.merge(populationdata, how='inner', on=['fips', 'year'])
m2.head()

,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year,fips,geographic area name,median income (family),median income (nonfamily),total population
0,8.4,36.7,25.1,9.3,8.9,7.2,2010,17083,"Jersey County, Illinois",64773,28125,22932
1,7.1,39.3,19.6,7.2,14.5,8.5,2010,17085,"Jo Daviess County, Illinois",60381,28266,22728
2,16.1,32.3,24.6,8.3,9.4,3.4,2010,17087,"Johnson County, Illinois",47423,21378,12710
3,8.2,24.7,19.6,7.0,20.9,10.9,2010,17089,"Kane County, Illinois",77998,40333,502628
4,9.2,35.0,23.9,8.9,10.8,6.6,2010,17091,"Kankakee County, Illinois",59998,28864,112100

In [15]:
m3 = m2.merge(housingdata, how='inner', on=['fips', 'year'])
m3.head()

,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year,fips,geographic area name,median income (family),median income (nonfamily),total population,occupied housing units,"1-unit, attached",2 units,3 or 4 units,5 to 9 units,10 to 19 units,20 or more units,mobile home,"boat, rv, van, etc."
0,8.4,36.7,25.1,9.3,8.9,7.2,2010,17083,"Jersey County, Illinois",64773,28125,22932,8626,149,248,158,250,99,145,737,14
1,7.1,39.3,19.6,7.2,14.5,8.5,2010,17085,"Jo Daviess County, Illinois",60381,28266,22728,10001,633,296,399,301,134,166,455,0
2,16.1,32.3,24.6,8.3,9.4,3.4,2010,17087,"Johnson County, Illinois",47423,21378,12710,4396,15,95,148,86,27,16,1512,2
3,8.2,24.7,19.6,7.0,20.9,10.9,2010,17089,"Kane County, Illinois",77998,40333,502628,168980,17314,8362,6600,8183,5008,8447,1243,0
4,9.2,35.0,23.9,8.9,10.8,6.6,2010,17091,"Kankakee County, Illinois",59998,28864,112100,40943,1807,1763,2070,2103,870,1327,3114,3

In [16]:
m4 = m3.merge(commutedata, how='inner', on=['fips', 'year'])
m4['commute time'] = m4['commute time'] / m4['total population']
m4.head()

,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year,fips,geographic area name,median income (family),median income (nonfamily),total population,occupied housing units,"1-unit, attached",2 units,3 or 4 units,5 to 9 units,10 to 19 units,20 or more units,mobile home,"boat, rv, van, etc.",commute time
0,8.4,36.7,25.1,9.3,8.9,7.2,2010,17083,"Jersey County, Illinois",64773,28125,22932,8626,149,248,158,250,99,145,737,14,13.279042
1,7.1,39.3,19.6,7.2,14.5,8.5,2010,17085,"Jo Daviess County, Illinois",60381,28266,22728,10001,633,296,399,301,134,166,455,0,9.353881
2,16.1,32.3,24.6,8.3,9.4,3.4,2010,17087,"Johnson County, Illinois",47423,21378,12710,4396,15,95,148,86,27,16,1512,2,7.024784
3,8.2,24.7,19.6,7.0,20.9,10.9,2010,17089,"Kane County, Illinois",77998,40333,502628,168980,17314,8362,6600,8183,5008,8447,1243,0,13.112819
4,9.2,35.0,23.9,8.9,10.8,6.6,2010,17091,"Kankakee County, Illinois",59998,28864,112100,40943,1807,1763,2070,2103,870,1327,3114,3,9.937511

In [17]:
ed_cols = m4.columns[0:6]
ed_cols

Index(['9th to 12th grade, no diploma',
       'high school graduate (includes equivalency)',
       'some college, no degree', 'associate's degree', 'bachelor's degree',
       'graduate or professional degree'],
      dtype='object')

In [18]:
mask = m4['year'] >= 2015
tofix = m4[mask]
for col in ed_cols:
    m4.loc[mask, col] = tofix[col] / tofix['total population'] * 100

In [19]:
m4

,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year,fips,geographic area name,median income (family),median income (nonfamily),total population,occupied housing units,"1-unit, attached",2 units,3 or 4 units,5 to 9 units,10 to 19 units,20 or more units,mobile home,"boat, rv, van, etc.",commute time
0,8.400000,36.700000,25.100000,9.300000,8.900000,7.200000,2010,17083,"Jersey County, Illinois",64773,28125,22932,8626,149,248,158,250,99,145,737,14,13.279042
1,7.100000,39.300000,19.600000,7.200000,14.500000,8.500000,2010,17085,"Jo Daviess County, Illinois",60381,28266,22728,10001,633,296,399,301,134,166,455,0,9.353881
2,16.100000,32.300000,24.600000,8.300000,9.400000,3.400000,2010,17087,"Johnson County, Illinois",47423,21378,12710,4396,15,95,148,86,27,16,1512,2,7.024784
3,8.200000,24.700000,19.600000,7.000000,20.900000,10.900000,2010,17089,"Kane County, Illinois",77998,40333,502628,168980,17314,8362,6600,8183,5008,8447,1243,0,13.112819
4,9.200000,35.000000,23.900000,8.900000,10.800000,6.600000,2010,17091,"Kankakee County, Illinois",59998,28864,112100,40943,1807,1763,2070,2103,870,1327,3114,3,9.937511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29819,5.654340,22.210174,7.007833,6.303410,15.354752,6.241991,2019,72113,"Ponce Municipio, Puerto Rico",18823,9801,131881,52837,5361,353,2186,3690,2927,3013,310,0,6.253516
29820,4.160268,15.507425,7.999598,8.680729,17.496491,12.232721,2019,72127,"San Juan Municipio, Puerto Rico",29661,15027,318441,138800,16352,4602,9347,17948,19072,38421,306,0,9.501635
29821,4.502603,15.025338,5.059354,20.553974,13.614717,4.472058,2019,72135,"Toa Alta Municipio, Puerto Rico",36422,11603,72025,22650,N,N,N,N,N,N,N,N,16.465880
29822,3.769978,18.537518,11.944097,10.081997,14.475367,4.299121,2019,72137,"Toa Baja Municipio, Puerto Rico",26195,16320,74271,28291,4730,3132,1974,1132,267,665,484,0,11.016413
29823,3.338882,16.100763,8.918868,8.212143,21.306970,6.872507,2019,72139,"Trujillo Alto Municipio, Puerto Rico",40857,14796,63674,23263,2463,2310,1382,3019,1442,1828,0,0,14.395279

In [20]:
def fix_strs(x):
    try:
        newval = float(x)
    except ValueError:
        newval = 0
    return newval

In [21]:
m4['median income (family)'] = m4['median income (family)'].apply(fix_strs)
m4['median income (nonfamily)'] = m4['median income (nonfamily)'].apply(fix_strs)

In [23]:
house_cols = m4.columns[13:21]
house_cols

Index(['1-unit, attached', '2 units', '3 or 4 units', '5 to 9 units',
       '10 to 19 units', '20 or more units', 'mobile home',
       'boat, rv, van, etc.'],
      dtype='object')

In [25]:
for col in house_cols:
    m4[col] = m4[col].apply(fix_strs)
    m4[col] = m4[col] / m4['occupied housing units'] * 100

In [26]:
def first(x):
    return s[0]

In [27]:
vehicledata_new = vehicledata.groupby(['fips', 'year']).aggregate('first').reset_index()

In [28]:
vehicledata_new.shape

(6920, 5)

In [29]:
masterdf = m4.merge(vehicledata_new, how='inner', left_on=['fips', 'year'], right_on=['fips', 'year'])

# masterdf = m3.merge(vehicledata, how='left', left_on='fips', right_on='fips')
# masterdf = masterdf.dropna(axis=0, subset=['count'])
print(masterdf.shape)
masterdf.head(25)

(5148, 25)

,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year,fips,geographic area name,median income (family),median income (nonfamily),total population,occupied housing units,"1-unit, attached",2 units,3 or 4 units,5 to 9 units,10 to 19 units,20 or more units,mobile home,"boat, rv, van, etc.",commute time,count,county,state
0,6.6,20.3,18.4,6.9,24.0,16.3,2010,06001,"Alameda County, California",85014.0,44439.0,1477980,532026,8.242266,4.516133,7.746238,6.190675,5.983918,16.833576,1.344671,0.115032,12.456474,20,Alameda County,CA
1,9.8,30.5,28.5,9.5,13.2,5.8,2010,06005,"Amador County, California",65103.0,33411.0,38327,14715,3.533809,2.324159,2.154264,0.767924,1.230037,2.657153,9.113150,0.013592,9.893939,1,Amador County,CA
2,5.9,19.7,22.3,8.2,24.5,13.7,2010,06013,"Contra Costa County, California",91791.0,47627.0,1024809,368087,8.502881,2.053047,5.690774,5.219690,3.747755,8.936203,1.937314,0.062757,13.799532,10,Contra Costa County,CA
3,10.8,23.2,22.6,7.6,13.4,6.3,2010,06019,"Fresno County, California",52306.0,28843.0,908830,283836,2.584943,3.393157,8.102919,8.195578,2.956637,5.566242,4.951451,0.144450,8.000660,2,Fresno County,CA
4,6.4,26.0,29.3,8.8,17.7,8.6,2010,06023,"Humboldt County, California",53221.0,24568.0,133058,54276,3.758567,4.875083,6.387722,4.355516,2.546245,3.080551,10.761663,0.287420,7.378587,2,Humboldt County,CA
5,13.9,26.8,22.7,6.9,9.8,4.8,2010,06029,"Kern County, California",51311.0,29291.0,815693,248057,2.886836,3.622151,7.634132,4.417130,1.623014,3.196443,8.862076,0.189473,8.411100,1,Kern County,CA
6,8.8,32.9,28.9,8.1,11.7,4.7,2010,06033,"Lake County, California",50140.0,21906.0,64371,25180,2.498014,2.235902,2.422558,2.470214,1.370135,2.446386,31.231136,0.464654,9.292694,1,Lake County,CA
7,10.2,21.3,18.8,6.8,19.0,9.9,2010,06037,"Los Angeles County, California",61622.0,40208.0,9758256,3217889,6.996730,2.604503,6.133524,8.452218,8.327633,19.008580,1.719947,0.080425,12.477287,360,Los Angeles County,CA
8,4.1,12.8,18.5,6.4,31.5,22.7,2010,06041,"Marin County, California",112911.0,55060.0,248601,102727,10.848170,3.426558,4.540189,6.362495,5.788157,8.947988,1.526376,0.371859,12.429375,15,Marin County,CA
9,10.2,20.6,19.6,7.2,14.2,9.2,2010,06053,"Monterey County, California",63372.0,41786.0,407435,124963,7.234141,3.526644,6.796412,8.568936,4.858238,5.796916,4.431712,0.088826,9.054819,1,Monterey County,CA
10,7.6,20.5,23.0,8.7,19.8,10.2,2010,06055,"Napa County, California",80030.0,42262.0,134051,49179,5.778889,3.879705,4.432786,4.585290,3.725167,5.046870,7.491002,0.117937,10.642554,4,Napa County,CA
11,7.7,18.6,20.9,7.9,23.5,12.4,2010,06059,"Orange County, California",83735.0,49389.0,2965525,984503,12.809103,1.843062,7.443451,6.969405,6.233501,13.273499,3.341585,0.075165,11.756455,38,Orange County,CA
12,4.3,20.9,27.4,10.6,23.2,10.9,2010,06061,"Placer County, California",89196.0,39065.0,336477,129153,3.102522,1.423893,4.932135,5.958824,3.004189,4.400208,3.159818,0.117690,11.339467,5,Placer County,CA
13,10.8,26.2,24.9,7.6,13.3,7.2,2010,06065,"Riverside County, California",64787.0,34252.0,2109464,666906,7.557587,1.550743,4.141813,4.672623,3.744456,4.822869,11.231268,0.308889,12.008849,4,Riverside County,CA
14,7.9,22.4,25.6,9.2,19.0,8.9,2010,06067,"Sacramento County, California",66003.0,39013.0,1395144,508499,6.825579,2.502463,6.333149,7.067074,5.727642,7.645049,2.777587,0.125074,10.715589,6,Sacramento County,CA
15,9.7,23.5,23.8,8.2,13.2,5.1,2010,06069,"San Benito County, California",75051.0,37901.0,54492,16812,4.252915,3.140614,5.525815,2.349512,2.504164,1.600048,4.901261,0.023793,12.848216,1,San Benito County,CA
16,12.1,26.8,24.1,8.3,12.1,6.3,2010,06071,"San Bernardino County, California",61526.0,34123.0,2005287,596125,4.094108,2.000923,5.499182,4.903334,3.850535,5.735207,7.096666,0.163892,11.344783,4,San Bernardino County,CA
17,7.3,19.8,23.1,8.3,21.3,12.7,2010,06073,"San Diego County, California",73560.0,43022.0,3022468,1061789,9.738093,2.415075,5.520400,8.233557,7.562237,14.769130,4.140088,0.099078,10.852323,29,San Diego County,CA
18,6.0,14.4,14.5,5.6,31.5,19.7,2010,06075,"San Francisco County, California",85778.0,58139.0,789172,335956,17.547536,11.190454,12.554918,11.039541,11.208611,27.829835,0.115194,0.061913,15.100390,24,San Francisco County,CA
19,11.5,27.2,23.7,8.3,12.2,5.3,2010,06077,"San Joaquin County, California",61292.0,32603.0,673613,212905,5.700665,2.386510,4.539583,4.277964,2.802189,6.327235,3.814847,0.182711,11.078379,1,San Joaquin County,CA
20,7.3,22.0,25.6,9.9,19.2,11.4,2010,06079,"San Luis Obispo County, California",72054.0,31478.0,265577,102434,6.254759,3.191323,5.563582,4.435051,2.629986,4.327665,10.055255,0.230392,8.518810,1,San Luis Obispo County,CA
21,5.1,17.8,19.0,7.7,27.0,17.0,2010,06081,"San Mateo County, California",101578.0,55812.0,704327,255758,9.732247,2.168065,4.636805,6.860391,6.036957,14.480876,1.033008,0.203708,11.823947,50,San Mateo County,CA
22,7.5,18.5,22.3,8.4,18.6,12.4,2010,06083,"Santa Barbara County, California",69190.0,41005.0,416051,141793,7.161143,3.582687,6.953094,8.189403,6.306376,6.676634,5.402241,0.098030,8.341790,11,Santa Barbara County,CA
23,6.3,16.5,17.2,7.4,25.7,19.6,2010,06085,"Santa Clara County, California",100733.0,55905.0,1739396,596747,10.242196,1.934656,6.185703,5.935346,5.649463,14.644732,3.113882,0.063343,10.911408,93,Santa Clara County,CA
24,6.2,16.8,22.0,8.0,23.3,13.9,2010,06087,"Santa Cruz County, California",80264.0,41621.0,256901,93802,9.968871,4.175817,6.039317,4.428477,3.024456,6.074497,7.150167,0.190827,11.418873,6,Santa Cruz County,CA

In [30]:
ed_cols = m4.columns[0:6]
ed_cols

Index(['9th to 12th grade, no diploma',
       'high school graduate (includes equivalency)',
       'some college, no degree', 'associate's degree', 'bachelor's degree',
       'graduate or professional degree'],
      dtype='object')

In [31]:
mask = masterdf['year'] >= 2015
tofix = masterdf[mask]
for col in ed_cols:
    masterdf.loc[mask, col] = tofix[col] / tofix['total population'] * 100

In [32]:
masterdf

,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year,fips,geographic area name,median income (family),median income (nonfamily),total population,occupied housing units,"1-unit, attached",2 units,3 or 4 units,5 to 9 units,10 to 19 units,20 or more units,mobile home,"boat, rv, van, etc.",commute time,count,county,state
0,6.600000,20.300000,18.400000,6.900000,24.000000,16.300000,2010,06001,"Alameda County, California",85014.0,44439.0,1477980,532026,8.242266,4.516133,7.746238,6.190675,5.983918,16.833576,1.344671,0.115032,12.456474,20,Alameda County,CA
1,9.800000,30.500000,28.500000,9.500000,13.200000,5.800000,2010,06005,"Amador County, California",65103.0,33411.0,38327,14715,3.533809,2.324159,2.154264,0.767924,1.230037,2.657153,9.113150,0.013592,9.893939,1,Amador County,CA
2,5.900000,19.700000,22.300000,8.200000,24.500000,13.700000,2010,06013,"Contra Costa County, California",91791.0,47627.0,1024809,368087,8.502881,2.053047,5.690774,5.219690,3.747755,8.936203,1.937314,0.062757,13.799532,10,Contra Costa County,CA
3,10.800000,23.200000,22.600000,7.600000,13.400000,6.300000,2010,06019,"Fresno County, California",52306.0,28843.0,908830,283836,2.584943,3.393157,8.102919,8.195578,2.956637,5.566242,4.951451,0.144450,8.000660,2,Fresno County,CA
4,6.400000,26.000000,29.300000,8.800000,17.700000,8.600000,2010,06023,"Humboldt County, California",53221.0,24568.0,133058,54276,3.758567,4.875083,6.387722,4.355516,2.546245,3.080551,10.761663,0.287420,7.378587,2,Humboldt County,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5143,0.002326,0.015866,0.011163,0.006452,0.012130,0.004171,2019,55131,"Washington County, Wisconsin",95408.0,44643.0,136034,55256,6.772115,4.075576,4.520776,7.052628,2.627769,5.617490,1.301216,0.000000,13.398305,200,Washington County,fl
5144,0.000399,0.003754,0.003427,0.001684,0.005299,0.002786,2019,55133,"Waukesha County, Wisconsin",113591.0,48449.0,404198,160635,6.531578,2.257291,2.776481,5.617705,3.804277,10.051981,0.783142,0.000000,12.112071,6,Waukesha County,mi
5145,0.002219,0.012883,0.007517,0.004034,0.008855,0.003567,2019,55139,"Winnebago County, Wisconsin",76425.0,40352.0,171907,71238,4.487773,5.818524,4.635167,8.995199,5.120862,7.269996,2.880485,0.000000,9.185955,63,Winnebago County,tx
5146,0.006054,0.038556,0.019355,0.012654,0.012519,0.006938,2019,55141,"Wood County, Wisconsin",68511.0,31511.0,72999,32684,1.759271,6.360911,2.105006,2.631257,2.444621,7.951903,3.677640,0.021417,8.886286,25,Wood County,wi
5147,0.001306,0.004870,0.002512,0.002726,0.005494,0.003841,2019,72127,"San Juan Municipio, Puerto Rico",29661.0,15027.0,318441,138800,11.780980,3.315562,6.734150,12.930836,13.740634,27.680836,0.220461,0.000000,9.501635,1,San Juan Municipio,WA

In [33]:
masterdf.to_csv('data/clean/masterdata.csv', index=False)

In [34]:
m4.to_csv('data/clean/masterdata_allcounties.csv', index=False)