In [1]:
import numpy as np
import pandas as pd

In [2]:
def build_loc(category, year):
    year = str(year)
    dataloc =  f'../data/{category}/{category}_{year}.csv'
    metaloc =  f'../data/{category}/{category}_{year}_meta.csv'
    return dataloc, metaloc

def build_saveloc(category):
    saveloc = f'../data/clean/{category}_clean.csv'
    return saveloc

# Education Data

In [3]:
loc, metaloc = build_loc('education', 2010)

In [4]:
data = pd.read_csv(loc, low_memory=False)
metadata = pd.read_csv(metaloc)

In [5]:
data.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C03_034E,S1501_C03_034M,S1501_C03_035E,S1501_C03_035M,S1501_C03_036E,S1501_C03_036M,S1501_C03_037E,S1501_C03_037M,S1501_C03_038E,S1501_C03_038M
0,id,Geographic Area Name,Total!!Estimate!!Population 18 to 24 years,Total!!Margin of Error!!Population 18 to 24 years,Total!!Estimate!!Less than high school graduate,Total!!Margin of Error!!Less than high school ...,Total!!Estimate!!High school graduate (include...,Total!!Margin of Error!!High school graduate (...,Total!!Estimate!!Some college or associate's d...,Total!!Margin of Error!!Some college or associ...,...,Female!!Estimate!!MEDIAN EARNINGS IN THE PAST ...,Female!!Margin of Error!!MEDIAN EARNINGS IN TH...,Female!!Estimate!!MEDIAN EARNINGS IN THE PAST ...,Female!!Margin of Error!!MEDIAN EARNINGS IN TH...,Female!!Estimate!!MEDIAN EARNINGS IN THE PAST ...,Female!!Margin of Error!!MEDIAN EARNINGS IN TH...,Female!!Estimate!!MEDIAN EARNINGS IN THE PAST ...,Female!!Margin of Error!!MEDIAN EARNINGS IN TH...,Female!!Estimate!!PERCENT IMPUTED!!Educational...,Female!!Margin of Error!!PERCENT IMPUTED!!Educ...
1,0500000US17083,"Jersey County, Illinois",2300,57,15.2,6.5,30.3,7.1,52.8,9.4,...,22405,4508,25990,2875,33698,11070,49917,19120,(X),(X)
2,0500000US17085,"Jo Daviess County, Illinois",1459,51,6.9,3.3,42.2,8.8,42.8,8.3,...,20070,2690,23594,3210,30144,6555,42258,8421,(X),(X)
3,0500000US17087,"Johnson County, Illinois",1263,407,57.5,14.9,21.8,19.0,19.5,8.2,...,12031,6426,21283,3029,32025,7445,48750,8822,(X),(X)
4,0500000US17089,"Kane County, Illinois",42342,41,21.5,1.4,33.4,2.1,36.9,1.8,...,23965,1333,30603,1351,40336,1630,56266,1992,(X),(X)

In [6]:
metadata.head()

           GEO_ID                                                 id
0            NAME                               Geographic Area Name
1  S1501_C01_001E         Total!!Estimate!!Population 18 to 24 years
2  S1501_C01_001M  Total!!Margin of Error!!Population 18 to 24 years
3  S1501_C01_002E    Total!!Estimate!!Less than high school graduate
4  S1501_C01_002M  Total!!Margin of Error!!Less than high school ...

In [7]:
tokeep_education = ['GEO_ID', 'NAME']
datacols = [s for s in metadata.iloc[14:27, 0].values if 'E' in s]
tokeep_education.extend(datacols)
tokeep_education

['GEO_ID',
 'NAME',
 'S1501_C01_008E',
 'S1501_C01_009E',
 'S1501_C01_010E',
 'S1501_C01_011E',
 'S1501_C01_012E',
 'S1501_C01_013E']

In [8]:
data_small = data[tokeep_education]

In [9]:
data_small.head()

,GEO_ID,NAME,S1501_C01_008E,S1501_C01_009E,S1501_C01_010E,S1501_C01_011E,S1501_C01_012E,S1501_C01_013E
0,id,Geographic Area Name,"Total!!Estimate!!9th to 12th grade, no diploma",Total!!Estimate!!High school graduate (include...,"Total!!Estimate!!Some college, no degree",Total!!Estimate!!Associate's degree,Total!!Estimate!!Bachelor's degree,Total!!Estimate!!Graduate or professional degree
1,0500000US17083,"Jersey County, Illinois",8.4,36.7,25.1,9.3,8.9,7.2
2,0500000US17085,"Jo Daviess County, Illinois",7.1,39.3,19.6,7.2,14.5,8.5
3,0500000US17087,"Johnson County, Illinois",16.1,32.3,24.6,8.3,9.4,3.4
4,0500000US17089,"Kane County, Illinois",8.2,24.7,19.6,7.0,20.9,10.9

In [10]:
education_dfs = []
for yr in range(2010, 2020):
    loc, metaloc = build_loc('education', yr)
    data = pd.read_csv(loc, low_memory=False)
    data_small = data[tokeep_education]
    data_small = data_small.rename(columns=data_small.iloc[0]).drop(data_small.index[0])
    data_small = data_small.rename(columns=lambda s: s.split('!!')[-1].lower())
    data_small['year'] = np.repeat(yr, len(data_small))
    education_dfs.append(data_small)

In [11]:
education_all = pd.concat(education_dfs, ignore_index=True)
education_all

,id,geographic area name,"9th to 12th grade, no diploma",high school graduate (includes equivalency),"some college, no degree",associate's degree,bachelor's degree,graduate or professional degree,year
0,0500000US17083,"Jersey County, Illinois",8.4,36.7,25.1,9.3,8.9,7.2,2010
1,0500000US17085,"Jo Daviess County, Illinois",7.1,39.3,19.6,7.2,14.5,8.5,2010
2,0500000US17087,"Johnson County, Illinois",16.1,32.3,24.6,8.3,9.4,3.4,2010
3,0500000US17089,"Kane County, Illinois",8.2,24.7,19.6,7.0,20.9,10.9,2010
4,0500000US17091,"Kankakee County, Illinois",9.2,35.0,23.9,8.9,10.8,6.6,2010
...,...,...,...,...,...,...,...,...,...
29819,0500000US72113,"Ponce Municipio, Puerto Rico",7457,29291,9242,8313,20250,8232,2019
29820,0500000US72127,"San Juan Municipio, Puerto Rico",13248,49382,25474,27643,55716,38954,2019
29821,0500000US72135,"Toa Alta Municipio, Puerto Rico",3243,10822,3644,14804,9806,3221,2019
29822,0500000US72137,"Toa Baja Municipio, Puerto Rico",2800,13768,8871,7488,10751,3193,2019
29823,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",2126,10252,5679,5229,13567,4376,2019

In [12]:
saveloc = build_saveloc('education')
# education_all.to_csv(saveloc, index=False)

# Income Data

In [96]:
loc, metaloc = build_loc('income', 2010)

In [97]:
data = pd.read_csv(loc, low_memory=False)
metadata = pd.read_csv(metaloc)

In [98]:
data.head()

,GEO_ID,NAME,S1903_C01_001E,S1903_C01_001M,S1903_C01_002E,S1903_C01_002M,S1903_C01_003E,S1903_C01_003M,S1903_C01_004E,S1903_C01_004M,...,S1903_C02_027E,S1903_C02_027M,S1903_C02_028E,S1903_C02_028M,S1903_C02_029E,S1903_C02_029M,S1903_C02_030E,S1903_C02_030M,S1903_C02_031E,S1903_C02_031M
0,id,Geographic Area Name,Total!!Estimate!!Households,Total!!Margin of Error!!Households,Total!!Estimate!!One race!!White,Total!!Margin of Error!!One race!!White,Total!!Estimate!!One race!!Black or African Am...,Total!!Margin of Error!!One race!!Black or Afr...,Total!!Estimate!!One race!!American Indian and...,Total!!Margin of Error!!One race!!American Ind...,...,Median income (dollars)!!Estimate!!NONFAMILY H...,Median income (dollars)!!Margin of Error!!NONF...,Median income (dollars)!!Estimate!!NONFAMILY H...,Median income (dollars)!!Margin of Error!!NONF...,Median income (dollars)!!Estimate!!PERCENT IMP...,Median income (dollars)!!Margin of Error!!PERC...,Median income (dollars)!!Estimate!!PERCENT IMP...,Median income (dollars)!!Margin of Error!!PERC...,Median income (dollars)!!Estimate!!PERCENT IMP...,Median income (dollars)!!Margin of Error!!PERC...
1,0500000US17083,"Jersey County, Illinois",8626,247,98.8,0.8,0.3,0.5,0.0,0.4,...,33109,5568,50625,15110,(X),(X),(X),(X),(X),(X)
2,0500000US17085,"Jo Daviess County, Illinois",10001,322,97.5,0.6,0.2,0.2,0.3,0.3,...,27196,6760,54615,18270,(X),(X),(X),(X),(X),(X)
3,0500000US17087,"Johnson County, Illinois",4396,405,99.1,0.7,0.1,0.2,0.0,0.7,...,25329,9577,70357,13974,(X),(X),(X),(X),(X),(X)
4,0500000US17089,"Kane County, Illinois",168980,980,80.2,0.5,5.6,0.3,0.2,0.1,...,43274,2150,71909,9181,(X),(X),(X),(X),(X),(X)

In [99]:
metadata.head()

           GEO_ID                                       id
0            NAME                     Geographic Area Name
1  S1903_C01_001E              Total!!Estimate!!Households
2  S1903_C01_001M       Total!!Margin of Error!!Households
3  S1903_C01_002E         Total!!Estimate!!One race!!White
4  S1903_C01_002M  Total!!Margin of Error!!One race!!White

In [118]:
tokeep_income = ['GEO_ID', 'NAME', 'S1903_C02_016E', 'S1903_C02_022E']
tokeep_income_2 = ['GEO_ID', 'NAME', 'S1903_C03_015E', 'S1903_C03_034E']

In [119]:
data_small = data[tokeep_income]
data_small.head()

,GEO_ID,NAME,S1903_C02_016E,S1903_C02_022E
0,id,Geographic Area Name,Estimate!!Percent Distribution!!FAMILIES!!Fami...,Estimate!!Percent Distribution!!FAMILIES!!Fami...
1,0500000US01003,"Baldwin County, Alabama",N,N
2,0500000US01015,"Calhoun County, Alabama",N,N
3,0500000US01043,"Cullman County, Alabama",N,N
4,0500000US01049,"DeKalb County, Alabama",N,N

In [120]:
data_small = data_small.rename(columns=data_small.iloc[0]).drop(data_small.index[0])

In [121]:
data_small.head()

,id,Geographic Area Name,Estimate!!Percent Distribution!!FAMILIES!!Families!!With own children of householder under 18 years,"Estimate!!Percent Distribution!!FAMILIES!!Families!!Male householder, no spouse present"
1,0500000US01003,"Baldwin County, Alabama",N,N
2,0500000US01015,"Calhoun County, Alabama",N,N
3,0500000US01043,"Cullman County, Alabama",N,N
4,0500000US01049,"DeKalb County, Alabama",N,N
5,0500000US01051,"Elmore County, Alabama",N,N

In [122]:
data_small = data_small.rename(columns=lambda s: s.split('!!')[0].lower())

In [123]:
data_small

                 id                  geographic area name estimate estimate
1    0500000US01003               Baldwin County, Alabama        N        N
2    0500000US01015               Calhoun County, Alabama        N        N
3    0500000US01043               Cullman County, Alabama        N        N
4    0500000US01049                DeKalb County, Alabama        N        N
5    0500000US01051                Elmore County, Alabama        N        N
..              ...                                   ...      ...      ...
836  0500000US72113          Ponce Municipio, Puerto Rico        N        N
837  0500000US72127       San Juan Municipio, Puerto Rico     38.8      9.8
838  0500000US72135       Toa Alta Municipio, Puerto Rico        N        N
839  0500000US72137       Toa Baja Municipio, Puerto Rico        N        N
840  0500000US72139  Trujillo Alto Municipio, Puerto Rico        N        N

[840 rows x 4 columns]

In [130]:
income_dfs = []
for yr in range(2010, 2020):
    loc, metaloc = build_loc('income', yr)
    data = pd.read_csv(loc, low_memory=False)
    if yr <= 2016:
        data_small = data[tokeep_income]
    else:
        data_small = data[tokeep_income_2]
    data_small = data_small.rename(columns=data_small.iloc[0]).drop(data_small.index[0])
    data_small.columns=['id', 'geographic area name', 'median income (family)', 'median income (nonfamily)']
    data_small['year'] = np.repeat(yr, len(data_small))
    income_dfs.append(data_small)

In [132]:
income_all = pd.concat(income_dfs, ignore_index=True)
income_all

,id,geographic area name,median income (family),median income (nonfamily),year
0,0500000US17083,"Jersey County, Illinois",64773,28125,2010
1,0500000US17085,"Jo Daviess County, Illinois",60381,28266,2010
2,0500000US17087,"Johnson County, Illinois",47423,21378,2010
3,0500000US17089,"Kane County, Illinois",77998,40333,2010
4,0500000US17091,"Kankakee County, Illinois",59998,28864,2010
...,...,...,...,...,...
29819,0500000US72113,"Ponce Municipio, Puerto Rico",18823,9801,2019
29820,0500000US72127,"San Juan Municipio, Puerto Rico",29661,15027,2019
29821,0500000US72135,"Toa Alta Municipio, Puerto Rico",36422,11603,2019
29822,0500000US72137,"Toa Baja Municipio, Puerto Rico",26195,16320,2019
29823,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",40857,14796,2019

In [133]:
saveloc = build_saveloc('income')
income_all.to_csv(saveloc, index=False)

# Population Data

In [134]:
loc, metaloc = build_loc('population', 2010)

In [136]:
data = pd.read_csv(loc, low_memory=False)
metadata = pd.read_csv(loc)

In [137]:
data.head()

,GEO_ID,NAME,B01003_001E,B01003_001M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total
1,0500000US08025,"Crowley County, Colorado",5897,*****
2,0500000US08029,"Delta County, Colorado",30533,*****
3,0500000US08031,"Denver County, Colorado",578087,*****
4,0500000US08033,"Dolores County, Colorado",2027,*****

In [138]:
metadata.head()

,GEO_ID,NAME,B01003_001E,B01003_001M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total
1,0500000US08025,"Crowley County, Colorado",5897,*****
2,0500000US08029,"Delta County, Colorado",30533,*****
3,0500000US08031,"Denver County, Colorado",578087,*****
4,0500000US08033,"Dolores County, Colorado",2027,*****

In [139]:
tokeep_population = ['GEO_ID', 'NAME', 'B01003_001E']

In [141]:
data_small = data[tokeep_population]

In [140]:
data_small = data_small.rename(columns=data_small.iloc[0]).drop(data_small.index[0])

In [145]:
population_dfs = []
for yr in range(2010, 2020):
    loc, metaloc = build_loc('population', yr)
    data = pd.read_csv(loc, low_memory=False)
    data_small = data[tokeep_population]
    data_small = data_small.rename(columns=data_small.iloc[0]).drop(data_small.index[0])
    data_small.columns=['id', 'geographic area name', 'total population']
    data_small['year'] = np.repeat(yr, len(data_small))
    population_dfs.append(data_small)

In [148]:
population_all = pd.concat(population_dfs, ignore_index=True)
population_all

,id,geographic area name,total population,year
0,0500000US08025,"Crowley County, Colorado",5897,2010
1,0500000US08029,"Delta County, Colorado",30533,2010
2,0500000US08031,"Denver County, Colorado",578087,2010
3,0500000US08033,"Dolores County, Colorado",2027,2010
4,0500000US08035,"Douglas County, Colorado",273440,2010
...,...,...,...,...
29819,0500000US72113,"Ponce Municipio, Puerto Rico",131881,2019
29820,0500000US72127,"San Juan Municipio, Puerto Rico",318441,2019
29821,0500000US72135,"Toa Alta Municipio, Puerto Rico",72025,2019
29822,0500000US72137,"Toa Baja Municipio, Puerto Rico",74271,2019
29823,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",63674,2019

In [149]:
saveloc = build_saveloc('population')
population_all.to_csv(saveloc, index=False)

# Housing Data

In [42]:
loc, metaloc = build_loc('housing', 2011)

In [43]:
data = pd.read_csv(loc)
metadata = pd.read_csv(metaloc)

/Users/samaygarg/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,6,7,8,9,10,11,12,13,14,15,18,19,22,23,24,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,146,147,148,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,178,179,180,181,182,183,184,185,186,187,190,191,194,195,196,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,354,355,356,358,359,360,361,362,363,364,365,366,367,368,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,402,403,404,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,430,431,432,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,458,459,460,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,494,495,496,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,530,531,534,535,536,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
data.head()

,GEO_ID,NAME,DP04_0001E,DP04_0001M,DP04_0001PE,DP04_0001PM,DP04_0002E,DP04_0002M,DP04_0002PE,DP04_0002PM,...,DP04_0139PE,DP04_0139PM,DP04_0140E,DP04_0140M,DP04_0140PE,DP04_0140PM,DP04_0141E,DP04_0141M,DP04_0141PE,DP04_0141PM
0,id,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Percent!!HOUSING OCCUPANCY!!Total housing units,Percent Margin of Error!!HOUSING OCCUPANCY!!To...,Estimate!!HOUSING OCCUPANCY!!Occupied housing ...,Margin of Error!!HOUSING OCCUPANCY!!Occupied h...,Percent!!HOUSING OCCUPANCY!!Occupied housing u...,Percent Margin of Error!!HOUSING OCCUPANCY!!Oc...,...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...,Margin of Error!!GROSS RENT AS A PERCENTAGE OF...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...,Margin of Error!!GROSS RENT AS A PERCENTAGE OF...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...
1,0500000US72117,"RincÃ³n Municipio, Puerto Rico",8312,149,8312,(X),5508,232,66.3,2.5,...,6.2,6.3,188,80,39.1,14.2,614,159,(X),(X)
2,0500000US72083,"Las MarÃ­as Municipio, Puerto Rico",4046,78,4046,(X),3389,138,83.8,2.9,...,4.4,5.3,296,96,53.9,13.1,515,109,(X),(X)
3,0500000US72055,"GuÃ¡nica Municipio, Puerto Rico",9045,134,9045,(X),6058,273,67,2.6,...,11.8,8.2,303,101,50.9,12.7,1296,247,(X),(X)
4,0500000US72075,"Juana DÃ­az Municipio, Puerto Rico",18335,225,18335,(X),15924,314,86.9,1.5,...,9.3,4.4,745,180,40.5,7.4,1665,248,(X),(X)

In [45]:
metadata.head()

        GEO_ID                                                 id
0         NAME                               Geographic Area Name
1   DP04_0001E   Estimate!!HOUSING OCCUPANCY!!Total housing units
2   DP04_0001M  Margin of Error!!HOUSING OCCUPANCY!!Total hous...
3  DP04_0001PE    Percent!!HOUSING OCCUPANCY!!Total housing units
4  DP04_0001PM  Percent Margin of Error!!HOUSING OCCUPANCY!!To...

In [46]:
tokeep_housing = ['GEO_ID', 'NAME']
datacols = [s for s in metadata.iloc[2:8, 0].values if 'E' in s and s[-2:] != 'PE']
tokeep_housing.extend(datacols)
datacols = [s for s in metadata.iloc[26:61, 0].values if 'E' in s and s[-2:] != 'PE']
tokeep_housing.extend(datacols)
datacols = [s for s in metadata.iloc[177:192, 0].values if 'E' in s and s[-2:] != 'PE']
tokeep_housing.extend(datacols)
datacols = [s for s in metadata.iloc[313:315, 0].values if 'E' in s and s[-2:] != 'PE']
tokeep_housing.extend(datacols)
datacols = [s for s in metadata.iloc[493:495, 0].values if 'E' in s and s[-2:] != 'PE']
tokeep_housing.extend(datacols)
datacols = [s for s in metadata.iloc[493:495, 0].values if 'E' in s and s[-2:] != 'PE']
tokeep_housing.extend(datacols)
datacols = [s for s in metadata.iloc[533:535, 0].values if 'E' in s and s[-2:] != 'PE']
tokeep_housing.extend(datacols)
tokeep_housing

['GEO_ID',
 'NAME',
 'DP04_0002E',
 'DP04_0008E',
 'DP04_0009E',
 'DP04_0010E',
 'DP04_0011E',
 'DP04_0012E',
 'DP04_0013E',
 'DP04_0014E',
 'DP04_0015E',
 'DP04_0045E',
 'DP04_0046E',
 'DP04_0047E',
 'DP04_0048E',
 'DP04_0079E',
 'DP04_0124E',
 'DP04_0124E',
 'DP04_0134E']

In [47]:
data_small = data[tokeep_housing]

In [48]:
data_small.head()

,GEO_ID,NAME,DP04_0002E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,DP04_0045E,DP04_0046E,DP04_0047E,DP04_0048E,DP04_0079E,DP04_0124E,DP04_0124E,DP04_0134E
0,id,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Occupied housing ...,"Estimate!!UNITS IN STRUCTURE!!1-unit, attached",Estimate!!UNITS IN STRUCTURE!!2 units,Estimate!!UNITS IN STRUCTURE!!3 or 4 units,Estimate!!UNITS IN STRUCTURE!!5 to 9 units,Estimate!!UNITS IN STRUCTURE!!10 to 19 units,Estimate!!UNITS IN STRUCTURE!!20 or more units,Estimate!!UNITS IN STRUCTURE!!Mobile home,"Estimate!!UNITS IN STRUCTURE!!Boat, RV, van, etc.",Estimate!!HOUSING TENURE!!Owner-occupied,Estimate!!HOUSING TENURE!!Renter-occupied,Estimate!!HOUSING TENURE!!Average household si...,Estimate!!HOUSING TENURE!!Average household si...,Estimate!!VALUE!!Owner-occupied units,Estimate!!GROSS RENT!!Occupied units paying rent,Estimate!!GROSS RENT!!Occupied units paying rent,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...
1,0500000US72117,"RincÃ³n Municipio, Puerto Rico",5508,578,1494,616,244,149,683,51,0,4413,1095,2.85,2.38,4413,534,534,481
2,0500000US72083,"Las MarÃ­as Municipio, Puerto Rico",3389,735,29,67,13,59,0,6,0,2325,1064,2.87,3.08,2325,604,604,549
3,0500000US72055,"GuÃ¡nica Municipio, Puerto Rico",6058,1225,63,210,327,75,12,11,0,4167,1891,3.26,3.19,4167,649,649,595
4,0500000US72075,"Juana DÃ­az Municipio, Puerto Rico",15924,1059,99,94,191,94,104,25,0,12418,3506,3.2,3.06,12418,1912,1912,1841

In [49]:
data_small = data_small.rename(columns=data_small.iloc[0]).drop(data_small.index[0])

In [50]:
data_small.head()

TypeError: 'Series' objects are mutable, thus they cannot be hashed

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
  File "/Users/samaygarg/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py", line 1669, in __hash__
    f"{repr(type(self).__name__)} objects are mutable, "
TypeError: 'Series' objects are mutable, thus they cannot be hashed

TypeError: 'Series' objects are mutable, thus they cannot be hashed

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [36]:
data_small.shape

(3221, 19)

In [37]:
np.arange(data_small.shape[1])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18])

In [38]:
data_small.rename(columns=np.arange(data_small.shape[1]))

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [39]:
print(tokeep_housing)

['GEO_ID', 'NAME', 'DP04_0002E', 'DP04_0008E', 'DP04_0009E', 'DP04_0010E', 'DP04_0011E', 'DP04_0012E', 'DP04_0013E', 'DP04_0014E', 'DP04_0015E', 'DP04_0045E', 'DP04_0046E', 'DP04_0047E', 'DP04_0048E', 'DP04_0079E', 'DP04_0124E', 'DP04_0124E', 'DP04_0134E']

In [40]:
data_small.iloc[0,:]

id                                                                                                                                                              0500000US72117
Geographic Area Name                                                                                                                             RincÃ³n Municipio, Puerto Rico
Estimate!!HOUSING OCCUPANCY!!Occupied housing units                                                                                                                       5508
Estimate!!UNITS IN STRUCTURE!!1-unit, attached                                                                                                                             578
Estimate!!UNITS IN STRUCTURE!!2 units                                                                                                                                     1494
Estimate!!UNITS IN STRUCTURE!!3 or 4 units                                                                                                                                 616
Estimate!!UNITS IN STRUCTURE!!5 to 9 units                                                                                                                                 244
Estimate!!UNITS IN STRUCTURE!!10 to 19 units                                                                                                                               149
Estimate!!UNITS IN STRUCTURE!!20 or more units                                                                                                                             683
Estimate!!UNITS IN STRUCTURE!!Mobile home                                                                                                                                   51
Estimate!!UNITS IN STRUCTURE!!Boat, RV, van, etc.                                                                                                                            0
Estimate!!HOUSING TENURE!!Owner-occupied                                                                                                                                  4413
Estimate!!HOUSING TENURE!!Renter-occupied                                                                                                                                 1095
Estimate!!HOUSING TENURE!!Average household size of owner-occupied unit                                                                                                   2.85
Estimate!!HOUSING TENURE!!Average household size of renter-occupied unit                                                                                                  2.38
Estimate!!VALUE!!Owner-occupied units                                                                                                                                     4413
[Estimate!!GROSS RENT!!Occupied units paying rent, Estimate!!GROSS RENT!!Occupied units paying rent]                                                                       534
[Estimate!!GROSS RENT!!Occupied units paying rent, Estimate!!GROSS RENT!!Occupied units paying rent]                                                                       534
Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)                              481
Name: 1, dtype: object

In [41]:
data_small.rename(columns=data_small.iloc[0,:]).drop(data_small.index[0])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [78]:
data_small.head()

,GEO_ID,NAME,DP04_0002E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,DP04_0045E,DP04_0046E,DP04_0047E,DP04_0048E,DP04_0079E,DP04_0124E,DP04_0124E,DP04_0134E
0,id,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Occupied housing ...,"Estimate!!UNITS IN STRUCTURE!!1-unit, attached",Estimate!!UNITS IN STRUCTURE!!2 units,Estimate!!UNITS IN STRUCTURE!!3 or 4 units,Estimate!!UNITS IN STRUCTURE!!5 to 9 units,Estimate!!UNITS IN STRUCTURE!!10 to 19 units,Estimate!!UNITS IN STRUCTURE!!20 or more units,Estimate!!UNITS IN STRUCTURE!!Mobile home,"Estimate!!UNITS IN STRUCTURE!!Boat, RV, van, etc.",Estimate!!HOUSING TENURE!!Owner-occupied,Estimate!!HOUSING TENURE!!Renter-occupied,Estimate!!HOUSING TENURE!!Average household si...,Estimate!!HOUSING TENURE!!Average household si...,Estimate!!VALUE!!Owner-occupied units,Estimate!!GROSS RENT!!Occupied units paying rent,Estimate!!GROSS RENT!!Occupied units paying rent,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...
1,0500000US72117,"RincÃ³n Municipio, Puerto Rico",5508,578,1494,616,244,149,683,51,0,4413,1095,2.85,2.38,4413,534,534,481
2,0500000US72083,"Las MarÃ­as Municipio, Puerto Rico",3389,735,29,67,13,59,0,6,0,2325,1064,2.87,3.08,2325,604,604,549
3,0500000US72055,"GuÃ¡nica Municipio, Puerto Rico",6058,1225,63,210,327,75,12,11,0,4167,1891,3.26,3.19,4167,649,649,595
4,0500000US72075,"Juana DÃ­az Municipio, Puerto Rico",15924,1059,99,94,191,94,104,25,0,12418,3506,3.2,3.06,12418,1912,1912,1841

In [ ]:
data = pd.read_csv(loc, low_memory=False)
    data_small = data[tokeep_housing]
    data_small = data_small.rename(columns=data_small.iloc[0]).drop(data_small.index[0])
    data_small = data_small.rename(columns=lambda s: s.split('!!')[-1].lower())
    data_small['year'] = np.repeat(yr, len(data_small))

In [30]:
data_small = data[tokeep_housing]

In [32]:
data_small.shape

(3222, 19)

In [80]:
housing_dfs = []
for yr in range(2010, 2020):
    loc, metaloc = build_loc('housing', yr)
    data = pd.read_csv(loc, low_memory=False)
    data_small = data[tokeep_housing]
    data_small = data_small.rename(columns=data_small.iloc[0]).drop(data_small.index[0])
    data_small = data_small.rename(columns=lambda s: s.split('!!')[-1].lower())
    data_small['year'] = np.repeat(yr, len(data_small))
    housing_dfs.append(data_small)

AttributeError: 'Series' object has no attribute 'split'